<!-- default home page -->
<section class="home-section">
    <div class="top-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4>Welcome to the new way of getting things done.</h4>
                    <h1>Find the people with the skills you need in Jersey.</h1>
                    <button class="btn btn-lg btn-warning" routerLink="post-job">Post a job <i class="fas fa-arrow-right"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-lg btn-light">Apply For Job <i class="fas fa-arrow-right"></i></button>
                </div>
                <div class="col-md-5">
                    <img src="../../../assets/images/positive-office-worker.png" class="img-fluid" alt="">
                </div>
            </div>
            
        </div>
    </div>

    <div class="section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 id="top-heading float-left">See what other people are getting done</h2>
                </div>
                <div class="col-md-4"><a href="" class="float-right browse-jobs">Browse More Jobs</a></div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                        <div class="card-title">
                            <p id="profile">Plumbing</p>
                            <p id="work">Outside waste pipe</p>
                        </div>
                        <div class="card-text">
                            Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                        </div>
                        
                        <div class="btn-section">
                            <button class="btn btn-lg btn-primary">More Info</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                        <div class="card-title">
                            <p id="profile">Building and Construction</p>
                            <p id="work">Garden design</p>
                        </div>
                        <div class="card-text">
                            I’m looking for some ideas on how to improve this area of my garden - I have some ideas ...
                        </div>
                        <div class="btn-section">
                            <button class="btn btn-lg btn-primary">More Info</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                        <div class="card-title">
                            <p id="profile">Cleaning</p>
                            <p id="work">Weekly cleaner</p>
                        </div>
                        <div class="card-text">
                            Hi. We are looking for a cleaner for a weekly 3 bed house clean in St Brelade. Thanks!...
                        </div>
                        <div class="btn-section">
                            <button class="btn btn-lg btn-primary">More Info</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary goAll" (click)="browseJobs()" routerLink="browse-jobs">Go to All Jobs</button>
        </div>
    </div>

    <div class="categories">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 id="float-left">Top Categories</h2>
                </div>
                <div class="col-md-4"><a href="" class="float-right browse-all">Browse All Categories</a></div>
            </div>

            <div class="row row-1">
                <div class="col-md-3">
                    <div class="card card-1">
                        <div class="card-title">
                            <h5>Building And Construction</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-2">
                        <div class="card-title">
                            <h5>Carpentry</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-3">
                        <div class="card-title">
                            <h5>Cleaning</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-4">
                        <div class="card-title">
                            <h5>Decking</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-2">
                <div class="col-md-3">
                    <div class="card card-5">
                        <div class="card-title">
                            <h5>Dog Walking</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-6">
                        <div class="card-title">
                            <h5>Electrician And Electrical</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-7">
                        <div class="card-title">
                            <h5>Fencing</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-8">
                        <div class="card-title">
                            <h5>Handyman</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-section">
                    <h1>Hire experts or be hired.<br />
                        For any job, any time.</h1>
                    <p>Are you looking for a skilled professional to take care of the jobs that you don't have time for? Or are you someone with the skills required to complete jobs for customers on the platform? Then oddjobs.je is the solution for you.</p>
                    <button class="btn btn-lg btn-warning">Find Out More</button>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/images/elements.svg" class="img-fluid element-img" width="100%" alt="">
                </div>
            </div>
        </div>    
    </div>

    <div class="section-4">
        <div class="container">
            <h3>How It Works</h3>
            <div class="row">
                <div class="col-md-4">
                    <i class="far fa-comment-alt"></i>
                    <i class="icon-material-outline-check"></i> 
                    <h4>Post Your Job</h4>
                    <p>Post your job with a description of the work you want done. You can add images and files to help too.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-user-friends"></i>
                    <h4>Review Offers</h4>
                    <p>You can see applications as they come in right from your dashboard, which includes provider's ratings and reviews from previous jobs.</p>
                </div>
                <div class="col-md-4">
                    <i class="far fa-thumbs-up"></i>
                    <h4>Get It Done</h4>
                    <p>It's up to you who you choose to do the job. With the right person taking care of it, you can relax and get it done.</p>
                </div>
            </div>
            <button class="btn btn-lg btn-primary">Find Out More</button>
        </div>
    </div>
</section>