<div class="container">
    <h2>Forgot password</h2>
    <div class="top">
        <h3>Let's reset your password.</h3>
        <a class="sighUp">Sign Up </a> | <a href=""> Log In</a>
    </div>
    <form class="form">    
        <div class="input-group mb-3">
            <span class="input-group-text emailIcon" id="emailaddress"><i class="far fa-envelope"></i></span>
            <input type="text" class="form-control email" placeholder="Email Address">
        </div>
        <div class="d-grid mx-auto">
            <button class="btn btn-lg btn-primary resetPass" type="button">Reset My Password</button>
        </div>
            
    </form> 
</div>
