<!-- Browse jobs main -->
<div class="post-jobs">
    <section class="top-section">
        <div class="container">
            <h4>Browse Jobs</h4>
            <p class="first-p">Here's what other people in Jersey are getting done right now.</p>
            <p>If you're a provider who can complete these tasks, then sign up today to get in touch with the people who need you.</p>
        </div>
    </section>
    
    <div class="container">
        <div class="row bottom-section">
            <div class="col-md-4">
                <h5>Keywords</h5>
                <input type="text" class="form-control keywords" placeholder="e.g. job title">
    
                <h5>Category</h5>
                <select name="jobProfiles" class="form-control categories">
                    <option value="0">All Categories</option>
                    <option value="1">Accounting</option>
                    <option value="2">Admin</option>
                    <option value="3">Aircon Installation</option>
                    <option value="4">Alterations</option>
                    <option>Antenna Installation</option>
                    <option>Appliance Repairs</option>
                    <option>Arborist</option>
                    <option>Architects</option>
                    <option>Asbestos Removal</option>
                    <option>Assembly</option>
                    <option>Audio Visual</option>
                    <option>Auto</option>
                    <option>Auto Electrician</option>
                    <option>Baby Proofing</option>
                    <option>Babysitter</option>
                    <option>Bakery</option>
                    <option>Bathroom Renovations</option>
                    <option>Beauty</option>
                    <option>Bell Tent Hire</option>
                    <option>Bike Hire</option>
                    <option>Bouncing Castle Hire</option>
                    <option>Bricklaying</option>
                    <option>Building and Construction</option>
                    <option>Business</option>
                    <option>Car Battery Replacement</option>
                    <option>Car Detailing</option>
                    <option>Car Service</option>
                    <option>Car Wash</option>
                    <option>Carpentry</option>
                    <option>Carpet Cleaning</option>
                    <option>Carpet Fitter</option>
                    <option>Carpet Supplier</option>
                    <option>Catering</option>
                    <option>Chef</option>
                    <option>Chimney Services</option>
                    <option>Cleaning</option>
                    <option>Coaching</option>
                    <option>Commercial Cleaning</option>
                    <option>Computer Repairs</option>
                    <option>Computers and IT Services</option>
                    <option>Concreting</option>
                    <option>Cooking</option>
                    <option>Courier Services</option>
                    <option>Data Analysis</option>
                    <option>Data Recovery</option>
                    <option>Decking</option>
                    <option>Deliveries</option>
                    <option>Demolition</option>
                    <option>Design</option>
                    <option>Dog Grooming</option>
                    <option>Dog Sitting</option>
                    <option>Dog Training</option>
                    <option>Dog Walking</option>
                    <option>Doors and Garages</option>
                    <option>Double Glazing</option>
                    <option>Driving</option>
                    <option>Dry Cleaning</option>
                    <option>Electrician and Electrical</option>
                    <option>End of Lease Cleaning</option>
                    <option>Engraving</option>
                    <option>Entertainment</option>
                    <option>Events Planning</option>
                    <option>Fencing</option>
                    <option>Fitness</option>
                    <option>Flooring</option>
                    <option>Florists and Flowers</option>
                    <option>Food Delivery</option>
                    <option>Fridge Repairs</option>
                    <option>Furniture Assembly</option>
                    <option>Furniture Delivery</option>
                    <option>Garage Door Services and Repairs</option>
                    <option>Garden Sheds</option>
                    <option>Gardening</option>
                    <option>Gas Fitter</option>
                    <option>Gate Installation</option>
                    <option>Graphic Design</option>
                    <option>Grocery Delivery</option>
                    <option>Gutter Cleaning</option>
                    <option>Guttering</option>
                    <option>Handyman</option>
                    <option>Heating and Boiler Repairs</option>
                    <option>Hedging</option>
                    <option>Home Catering</option>
                    <option>Home Theatre</option>
                    <option>Hospitality Services</option>
                    <option>House Cleaning</option>
                    <option>House Painting</option>
                    <option>House Removals</option>
                    <option>House Sitting</option>
                    <option>Illustrators</option>
                    <option>Insulation</option>
                    <option>Interior Design</option>
                    <option>Iron Works</option>
                    <option>Kitchen Renovation</option>
                    <option>Laminate Flooring</option>
                    <option>Landscaping</option>
                    <option>Lawn Mowing</option>
                    <option>Legal</option>
                    <option>Lifestyle</option>
                    <option>Locksmith</option>
                    <option>Log Burner and Fire Installation</option>
                    <option>Makeup Artist</option>
                    <option>Marketing</option>
                    <option>Marquee Hire</option>
                    <option>Mechanic</option>
                    <option>Models</option>
                    <option>Organising</option>
                    <option>Oven Cleaning</option>
                    <option>Painting</option>
                    <option>Panel Beater</option>
                    <option>Party Bus</option>
                    <option>Patios</option>
                    <option>Paving</option>
                    <option>Personal Training</option>
                    <option>Pest Control</option>
                    <option>Pet Care</option>
                    <option>Pet Sitting</option>
                    <option>Phone Repair</option>
                    <option>Photography</option>
                    <option>Plastering</option>
                    <option>Plumbing</option>
                    <option>Pool Services</option>
                    <option>Printing</option>
                    <option>Pruning</option>
                    <option>Real Estate</option>
                    <option>Removals</option>
                    <option>Rendering and Resurfacing</option>
                    <option>Roofing</option>
                    <option>Rubbish Removal</option>
                    <option>Seamstress and Tailoring</option>
                    <option>Signage</option>
                    <option>Solar Panel Installation</option>
                    <option>Staffing</option>
                    <option>Swimming Lessons</option>
                    <option>Tiling</option>
                    <option>Timber Flooring</option>
                    <option>Tradespeople</option>
                    <option>Translation</option>
                    <option>Tree Removal</option>
                    <option>Tutoring</option>
                    <option>TV Repairs & Installation</option>
                    <option>Upholstery Cleaning</option>
                    <option>Videography</option>
                    <option>Wallpaper</option>
                    <option>Washing Machine Repairs</option>
                    <option>Waterproofing</option>
                    <option>Web Design</option>
                    <option>Wedding Services</option>
                    <option>Window Cleaning</option>
                    <option>Window Repairs and Replacements</option>
                    <option>Windscreen Repairs</option>
                    <option>Writing</option>
                </select>
    
                <a href="" class="btn btn-lg btn-primary">Update Result</a>&nbsp;<a href="" class="btn btn-md btn-light">Clear All</a>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Cleaning</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Carpentry</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Building and Construction</p>
                                    <p>Garden Design</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="main-card">
                            <div class="card">
                                <div class="card-body"><i class="far fa-clock"></i>&nbsp; Posted 3 Week Ago</div>
                                <div class="card-title">
                                    <p>Plumbing</p>
                                    <p>Outside waste pipe</p>
                                </div>
                                <div class="card-text">
                                    Outside waste pipe from kitchen to drain is broken and needs replacing. Thank you. 
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
