<div class="how-works">
    <section class="top-section">
        <div class="container">
            <h4>How It Works</h4>
            <p>Post your job. Review offers. Get it done!</p>
        </div>
    </section>
    <div class="row row-1">
        <div class="col-md-6 content-center">
            <h2>1: Post Your Job</h2>
            <p>Describe your job and attach some pictures to explain what it is that you want done. 
                Once your job has been posted, it’ll be live for providers to start bidding for it 
                and applying.</p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/images/post-your-job.png" width="100%" alt="">
        </div>
    </div>
    <div class="row row-2">
        <div class="col-md-6">
            <img src="../../../assets/images/review-offers.png" width="100%" alt="">
        </div>
        <div class="col-md-6 content-center">
            <h2>2: Review Offers</h2>
            <p>You can review all the applications as they come in right from your dashboard, and can review provider's 
                profiles, work histories, and ratings from previous jobs. Each applicant will provide their contact
                 details 
                (but they won't see yours unless you contact them), so it's up to you who you choose to connect with.</p>
        </div>
    </div>
    <div class="row row-3">
        <div class="col-md-6 content-center">
            <h2>3: Get It Done</h2>
             <p>When your job has been finished and you’re happy with the result, all you need to do is mark 
                 the job as complete. That’s it! Job done! One more thing though; you’ll need to rate and 
                 review the quality of the job – this is to help the providers find other work and it's how 
                 maintain strict quality control on the platform.</p> 
        </div>
        <div class="col-md-6">
            <img src="../../../assets/images/Get-it-done.png" width="100%" alt="">
        </div>
    </div>
    <div class="section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5>Want to sign up as a business or as a freelancer?</h5>
                    <p>Whether it's cleaning, catering, painting, gardening, building or even graphic design, if you have 
                        the skills as either a business or a freelancer then sign up today and become part of our growing 
                        community. You can apply for jobs directly on the platform and can manage them all right from your 
                        own dashboard.</p>
    
                    <p>We should probably also mention that it's absolutely free to use.</p>

                    <a routerLink="signUp" href="" class="btn btn-lg btn-warning">Sign Up Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-3">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Complete Customer Support</h4>
                    <p class="card-text">
                        Got a question? Feel free to reach out to our expert Customer Support Team who are more than happy to help.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rating & Reviews</h4>
                    <p class="card-text">
                        We encourage you to rate your providers once they’ve completed a job for you. This is to help them with finding future work and is a great way to highlight the things they did well, and also the things they could have done better. But don’t forget, it’s a two-way system and you’ll also get rated as a customer!
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Built in Messenger Service on it's Way</h4>
                    <p class="card-text">
                        You can have complete peace of mind by using the built-in messenger service that we have in development. Once you’ve established communication, you’ll be able to send and receive messages, attachments and links to ensure that you can communicate perfectly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>