<div class="footer">
    <div class="container">
        <div class="row top">
            <div class="col-md-6">
                <img src="../../assets/images/oddjobs-white.png" class="img-fluid" alt="Logo" width="250px">
            </div>
            <!-- <div class="col-md-6 icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div> -->
        </div>
    </div>
    <div class="middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-1.5">
                    <ul class="list">
                        <li class="list-item"><h5>For Providers</h5></li>
                        <li class="list-item text-decoration-none"><a href="" routerLink="browse-jobs">Browse Jobs</a></li>
                    </ul>
                </div>
                <div class="col-sm-1.5">
                    <ul class="list">
                        <li class="list-item"><h5>For Customers</h5></li>
                        <li class="list-item"><a href="" routerLink="post-job">Post a Job</a></li>
                    </ul>
                </div>
                <div class="col-sm-2.5 col-2.5">
                    <ul class="list">
                        <li class="list-item"><h5>Helpful Links</h5></li>
                        <li class="list-item"><a href="">Contact Us</a></li>
                        <li class="list-item"><a href="" routerLink="how-it-works">How it Works</a></li>
                        <li class="list-item"><a href="">Privacy Policy</a></li>
                        <li class="list-item"><a href="">Terms and Conditions</a></li>
                        <li class="list-item"><a href="">Community Guidelines</a></li>
                        <li class="list-item"><a href="">Our Values and Mission</a></li>
                    </ul>
                </div>
                <div class="col-sm-1.5">
                    <ul class="list">
                        <li class="list-item"><h5>Account</h5></li>
                        <li class="list-item"><a href="" routerLink="logIn">Log In</a></li>
                        <li class="list-item"><a href="" routerLink="signUp">Sign Up</a></li>
                        <li class="list-item"><a href="">My Account</a></li>
                    </ul>
                </div>
                <div class="col-sm-5">
                    <ul class="list">
                        <li class="list-item"><h5>Sign Up For Our Newsletter</h5></li>
                        <li class="list-item"><p>We’ll keep you updated with relevant job posts and new opportunities</p></li>
                        
                        <div class="row">
                            <div class="col-sm-9">
                                <input type="text" class="form-control emailInput" placeholder="Enter your email address">
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-lg btn-warning"><i class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="bottom">
    <p class="text-center">&copy; 2021 <b>Oddjobs.je.</b> All Rights Reserved.</p>
</div>

